html,
body {
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.info-cards {
    margin-top: 50px;
}

.time-nav {
    list-style: none;
    padding-inline-start: 0;
}

    .time-nav li {
        display: inline;
    }

        .time-nav li::after {
            content: '  ';
        }

        .time-nav li:nth-last-child(0) {
            content: '  ';
        }

    .time-nav a {
        color: white;
        font-weight: bold;
    }

h1 {
    color: white;
    font-weight: bold;
}

.time-nav a:hover {
    text-decoration: none;
}

.panel-body {
    background: #337AB7
}
